@import url(./config.css);
@media (max-width: 767px){
  .quem-somos h2{
    font-size:large;
    font-weight:bold;
  }

  .desenho{
    display: flex;
    flex-direction:row;
    justify-content:center;
    margin-bottom:1rem;
  }
  .desenho img{
    width:100%;
    margin: 0 auto;
  }
  .title{
    margin-bottom: 1rem;
  }
  .descricao{
    margin-bottom:2rem;
  }
}